<!DOCTYPE html>
<html>
<head>
  <title>Basic Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="container-fluid">
  <h4>Basic Blog</h4>

  <% if user_signed_in? %>
      <%= link_to( 'Logout', destroy_user_session_path, :method => :delete, :class=>"form-back btn btn-default btn-xs pull-right" ) %>
  <% end %>

  <div class="row">
    <div class="col-md-8">

      <% if alert.present? %>
          <div class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <%= alert %>
          </div>
      <% end %>

      <% if notice.present? %>
          <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <%= notice %>
          </div>
      <% end %>
    </div>
  </div>

  <%= yield %>

</div>

</body>
</html>
